@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Roboto:300&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

/* Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: black;
}

/* Header style */
header div {
    background-color: #2f2f2f;
    width: 85vw;
    height: 25vh;
}

header div img {
    position: relative;
    top: calc(-25px + 50%);
    left: calc(-25px + 10%);
    width: 50px;
}

#title {
    font-size: 6vw;
    text-align: right;
    width: 80vw;
}

#title::after {
    content: "";
    display: block;
    position: relative;
    bottom: 1vh;
    height: 2.5vh;
    background-color: black;
    z-index: 9;
}

/* Tribute Area style */
#tribute {
    background-color: #e2e2e2;
    width: 85vw;
    position: relative;
    top: -2.5vh;
    display: flex;
    flex-direction: row;
    padding: 3em 4.5em;
    padding-bottom: 12em;
}

#tribute figure {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 40%;
}

#tribute figure img {
    width: 100%;
}

#tribute figure figcaption {
    font-size: 0.75rem;
    text-align: center;
    padding: 5px;
}

#tribute article {
    flex: 60%;
    padding-left: 3em;
    font-size: 1rem;
}

#tribute article p {
    padding-bottom: 1em;
    text-align: justify;
}

/* Sub-Tribute Area style */
#subtribute {
    background-color: #2f2f2f;
    width: 80vw;
    border-left: 2.5vh solid black;
    position: relative;
    top: -200px;
    margin-bottom: -200px;
    float: right;
}

#img-div {
    position: relative;
    top: 0;
    left: 0;
}

#img-div #image {
    max-width: 100%;
    display: block;
}

#img-div figcaption {
    width: 65%;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 1em;
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
}

#subtribute h2 {
    color: #e2e2e2;
    text-align: right;
    padding-right: 5em;
    padding-top: 4em;
    padding-bottom: 2em;
    font-size: 3vw;
}

#subtribute h2 a {
    text-decoration: none;
    color: #e2e2e2;
}

#subtribute h2 a:hover {
    background-color: #e2e2e2;
    color: #2f2f2f;
}

/* Footer style */
footer {
    background-color: black;
    color: #e2e2e2;
    width: 100vw;
    float: left;
}

footer h6 {
    line-height: 8vh;
    margin-left: 6vw;
    font-size: 0.8rem;
}

@media(max-width: 800px) {
    /* Header style */
    header div {
        width: 100vw;
        height: 20vh;
    }

    header div img {
        left: calc(-25px + 20%);
    }

    #title {
        font-size: 8.5vw;
        text-align: right;
        width: 95vw;
    }

    #title::after {
        height: 2vh;
    }
    
    /* Tribute Area style */
    #tribute {
        width: 100vw;
        top: -2vh;
        flex-direction: column;
        padding: 5vw;
    }

    #tribute figure {
        margin-top: 1em;
    }

    #tribute article {
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: 0;
    }

    /* Sub-Tribute Area style */
    #subtribute {
        width: 100vw;
        border-left: 0 solid black;
        top: -20px;
        margin-bottom: -20px;
        float: none;
    }

    #img-div figcaption {
        width: 100%;
        position: unset;
        bottom: 0;
    }

    #subtribute h2 {
        text-align: center;
        padding-right: 0;
        padding-top: 4em;
        padding-bottom: 3em;
        font-size: 8vw;
    }

    /* Footer style */
    footer h6 {
        margin-left: 0;
        text-align: center;
    }

}
